*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #ffffff;
    list-style: none;
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
}


iframe {
    display: block;
    border-style:none;
}

.game{
    width: 70vW;
    height: 120vW;
    
    }


{}