*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #ffffff;
    list-style: none;
    text-decoration: none; 
    font-family: 'Arial-Black'; 
}

body {
    background-color: #fbf8fb;
         
}


iframe {
    display: block;
    border-style:none;
}


      /* Portrait */
      @media screen and (orientation:portrait) {
        .game{
          width: 70vW;
          height: 120vW;
          
          }
          .popup-image { 
            max-width: 90vW;
            height: auto;
            padding-top:5vW;
        }
        
        
      }
      
/* Landscape */
@media screen and (orientation:landscape) {
      .game{
          width: 45vH;
          height: 80vH;
          }
        
      }


{}